@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');

.skills {
    max-width: 940px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.skills-list {
    counter-reset: li; 
    list-style: none; 
    font-weight: 200;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.skills-list a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

.skills-list a:hover {background: #E9E4E0;}
.skills-list a:hover:before {transform: rotate(360deg);}
.skills-list a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}